.mainpage {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  margin-left: 0px;
}
.leftside {
  width: 27%;
  background-color: #006b5d;
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  float: left;
  color: white;
}

.rightside {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 73%;
  float: left;
}
img {
  width: 60%;
  height: 30%;
  margin-bottom: 0.7cm;
  border-radius: 50%;
  border: 0.15cm solid white;
}

.line {
  padding-bottom: 10px;
  border-bottom: 0.07cm solid cadetblue;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.boldText {
  font-weight: bold;
  border-left: 10px solid chocolate;
  padding-left: 12px;
}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boldText {
  font-weight: bold;
  border-left: 10px solid chocolate;
  padding-left: 12px;
}

.lightText {
  font-weight: lighter;
  border-left: 2px solid white;
  padding-left: 15px;
  margin-left: 5px;
}

.topPanel {
  width: 80%;
  height: 15%;
  background-color: white;
  /* border: 8px solid black; */
  margin-left: 4px;
  border-radius: 5px;
}

.topPanel h1 {
  font-family: Garamond, Arial, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 70px;
  margin: 0;
  padding-top: 40px;
  padding-left: 180px;
}
/* 
        .topPanel p {
            font-family:  'Times New Roman', Times, serif;
            font-size: medium;
            margin: 0;
            padding-left: 450px;
            
        } */

.right h1 {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  margin: 0;
}

.right p {
  font-family: calibri, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
.topPanel i {
  float: right;
  padding-top: 50px;
  padding-right: 50px;
  font-size: 150px;
}
.right {
  padding-left: 10px;
}

.experience #a {
  padding-left: 10px;
  border-left: 3px solid black;
  margin-left: 7px;
}

.rightline {
  padding-bottom: 10px;
  border-bottom: 0.07cm solid black;
}

.skill-meter label {
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.line a {
  font-size: 18px;
}
.line p {
  font-size: 18px;
}
